$fuccia:#670570; 

.formulariocarrito{
    height: 100%;
    width: 100%;
    text-align: center;
    color: #670570;
}

.formulariocarrito p{
    padding-top: 0.5rem;
    
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.formulariocarrito h2{
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    padding-top: .5rem;
    padding-bottom: .5rem;

}

.tarjetas{
    width: 20%;
    height: 20%;

}


button.btn.btn-primary {
    background-color: rgb(255, 255, 255);
    color: #a50fb3;
    border-color: #bf8bc4;
    
}

.Resetear {
    background-color: rgb(255, 255, 255);
    color:$fuccia;
    border-color: $fuccia;
    width: 93px;
    height: 38px;
    border-radius:5px;
    border-style:dotted

}

.btn-confirmar {
text-align: center;
}

.modal-title {
    color: #a50fb3;

}
