@import "carrito";
@import "contacto";
@import "cursos";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*---- Header ---*/

.nav {
    display: flex;
    justify-content: end;   
}

.fondonav {
    background-color: rgb(196, 200, 209);   
}

/*utilizacion de ej. con variables*/

$fuccia:#670570; 
$width: 200px;
$height: 100px;
$bg: #f0f0f3;
$box: 
-7px -7px 20px 0px #fff9,
-4px -4px 5px 0px #fff9,
7px 7px 20px 0px #0002,
4px 4px 5px 0px #0001,
inset 0px 0px 0px 0px #fff9,
inset 0px 0px 0px 0px #0001,
inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;


body{
    background-color:$bg;
}

.font_lato {

    font-family: 'Lato', sans-serif;
}

/* ej. con extend */

.a {
    @extend .font_lato;
}

.btn-DaleFiorita {

    background-color:rgb(196, 200, 209);
    border: none;


}

.DaleFiorita {

    @extend .font_lato;  
    padding-right: 0.5rem;
    padding-left: 1rem;
    color: $fuccia;
    font-weight:800;
    font-size:2.5rem;      
}
   
/* utilizacion de ej. con operaciones*/

.WSP-float {
    position: fixed;
    width: ($width/2); 
    height: ($height);
    line-height: 100px;
    bottom: 7rem;
    right: 3rem;
    z-index: 1;
    border-radius: 50%;
    box-shadow: $box;
}

/* aplicacion de mixin */

@mixin tamaño ($width, $height) {
    height: $height;
    width: $width;
}

.WSP-icon {
    @include tamaño(100px, 100px); 
    text-align: center;
    line-height: 100px;
    bottom: 100px;
    right: 50px;
}

/* --- MAIN --- */

/* ejemplo de nesting */

.main_index {   

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 100%;
        padding-bottom: 6rem;
        padding-top: 2rem;
        
        .h1_index {
            padding-bottom: 2rem;
        h1 {
            font-family: 'Lato', sans-serif;
            font-size: 3.5rem;
            text-align: center;
            color: #74197c;
            width: 90%;
            padding-top: 4rem;
            padding-bottom: 5rem;
            box-shadow:$box;
            border-radius: 1rem;
            }       
        }
        .parrafo1{
            font-family: 'Lato', sans-serif;
            font-size: 1.5rem;  
            padding: 3rem 3rem 3rem 3rem;
            width: 80%;
            height: 20%;
            border-radius: 1rem;
            box-shadow:$box            
        }
   } 
}


section {
    width: 100%;
    height: 100%; 
}

.contactarnos {
    width: 8rem;
    height: 4rem;
    border-radius: 1rem;
    border: rgb(189, 205, 233);
}

.section2 {
    width: 100%;
    height: 100%;
}

.search-container {
    text-align: center;
    background-color: $fuccia;
}

/*  --- SECTION GALERIA DE SWETTERS ---  */

.Sweter1,.Sweter2,.Sweter3,.Sweter4,.Sweter5,.Sweter6 {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    padding-bottom: 2rem;  
}

.Sweter1 {
    padding-top: 3rem;
}

img {
    width: 250px;
    height: 320px;
    padding: 1rem 0 1rem 0;
    border-radius: 3rem;
    transition: ease-in 0.5s
}

img:hover {
    transform: scale(1.1);
}

button {
    margin: 1rem 0 1rem 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: $fuccia;
    border-color: #fdfdfc;
    border-style: double;
}

.buscar {
    border-style: double;
    width: 20%;
    border-radius: 0.5rem;  
}

.Comprar {
    box-shadow: inset 0 0 0 0 $fuccia;
    color:#9c1ca8;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    width: 6rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow:$box     
}

.Comprar:hover {
    box-shadow: inset 100px 0 0 0 #74197c;
    color:$fuccia;
    box-shadow:$box     
}

p {
    font-weight: 400;
    font-size: larger;
    color: $fuccia;
}

.Sweter1 {
    grid-area: Sweter1;
}

.Sweter2 {
    grid-area: Sweter2;
}

.Sweter3 {
    grid-area: Sweter3;
}

.Sweter4 {
    grid-area: Sweter4;
}

section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:
        "Sweter1"
        "Sweter2"
        "Sweter3"
        "Sweter4";
    justify-content: center;   
}

/* --- FOOTER --- */

footer {
    width: 100%;
    background: rgb(196, 200, 209);
    font-family: 'Lato', sans-serif;
    position: absolute;
}

footer img {
    width: 20%;
    height: 70%;
}

.footerRedesContainer {

    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.footerRedesContainer div {
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
}


.redes{
    height: 60px;
    width: 60px;
    border-radius: 6px;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    box-shadow:$box
  }

  .redes:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }

.Copyright {
    text-align: center;
    padding-top: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: $fuccia;
    text-decoration: none;   
}


@media screen and (min-width: 600px) {

    /* --- MAIN ----*/

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
        grid-template-areas:
            "Sweter1 Sweter2"
            "Sweter3 Sweter4"
            "Sweter5 Sweter5";
        justify-content: center;
    }

    .Sweter1,
    .Sweter2 {
        padding-top: 4rem;
    }

    .Sweter3,
    .Sweter4 {
        padding-top: 3rem;
    }

    .FondoContacto {
        background-image: none;
    }

    .tarjetas {
        max-width: 40%;
        max-height: 40%;
    }

    .formulariocontactos {
        width: 85%;
        height: 85%;
        text-align: center;
        margin: 1rem 0 1rem 0;
        margin-left: 7%;
        margin-top: 5%;
    }
    .DaleFiorita{
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {

    /* --- MAIN --- */

    .Sweter1,
    .Sweter2,
    .Sweter3 {
        padding-top: 3rem;
        padding-bottom: 0;
    }

    .Sweter5,
    .Sweter6 {
        padding: top 0;
    }

    .Sweter4 {
        padding-top: 0;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        grid-template-areas:
            "Sweter1 Sweter2 Sweter3"
            "Sweter4 Sweter5 Sweter6";
    }

    .tarjetas {
        width: 8%;
        height: 8%;
    }

    .WSP-float {
        bottom: 20rem;
        right: 5rem;       
    }

    .formulariocontactos {
        width: 50%;
        height: 50%;
        text-align: center;
        margin: 1rem 0 1rem 0;
        margin-left: 25%;
    }
}

.search-container {
    box-shadow: $box;
}