@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
.formulariocarrito {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #670570;
}

.formulariocarrito p {
  padding-top: 0.5rem;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.formulariocarrito h2 {
  font-weight: 600;
  font-family: "Lato", sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.tarjetas {
  width: 20%;
  height: 20%;
}

button.btn.btn-primary {
  background-color: rgb(255, 255, 255);
  color: #a50fb3;
  border-color: #bf8bc4;
}

.Resetear {
  background-color: rgb(255, 255, 255);
  color: #a50fb3;
  border-color: #bf8bc4;
  width: 93px;
  height: 38px;
  border-radius: 5px;
  border-style: dotted;
}

.btn-confirmar {
  text-align: center;
}

.modal-title {
  color: #a50fb3;
}

.formulariocontactos {
  width: 85%;
  height: 85%;
  text-align: center;
  margin: 1rem 0 1rem 0;
  margin-left: 7%;
  margin-top: 5%;
  position: relative;
  background: rgb(196, 200, 209);
  border-radius: 1rem;
  background-image: url(../images/trama1.png);
}

.formulariocontactos::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background: #bdc3c7;
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  height: 100%;
  width: 100%;
  filter: blur(25px);
  z-index: -1;
}

.article {
  width: 100%;
  height: 100vh;
}

.Datos, .Datos2 {
  color: #a50fb3;
  font-family: "Lato", sans-serif;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: xx-large;
  font-style: italic;
  font-weight: 800;
}

.Datos2 {
  font-size: larger;
}

.enviar {
  background-color: rgb(255, 255, 255);
  color: #a50fb3;
  border-color: #bf8bc4;
  width: 93px;
  height: 38px;
  border-radius: 5px;
  border-style: solid;
}

.maps {
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}

.DatosDaleFiorita {
  color: #a50fb3;
  font-family: "Lato", sans-serif;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-weight: 800;
}

.email {
  width: 100%;
}

.foto-desenfocada {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.curso1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.curso2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.curso3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.curso4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.curso5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.tutorial {
  position: relative;
  background: rgb(196, 200, 209);
}

.tutorial::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  background: #670570;
  height: 3%;
  width: 100%;
  filter: blur(5px);
  z-index: -1;
}

.ptu {
  padding-top: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

/*---- Header ---*/
.nav {
  display: flex;
  justify-content: end;
}

.fondonav {
  background-color: rgb(196, 200, 209);
}

/*utilizacion de ej. con variables*/
.font_lato, .DaleFiorita, .a {
  font-family: "Lato", sans-serif;
}

/* ej. con extend */
.DaleFiorita {
  padding-right: 5rem;
  padding-left: 5rem;
  color: #670570;
  font-weight: 800;
  font-size: 2rem;
}

/* utilizacion de ej. con operaciones*/
.WSP-float {
  position: fixed;
  width: 100px;
  height: 100px;
  line-height: 100px;
  bottom: 7rem;
  right: 3rem;
  z-index: 1;
}

/* aplicacion de mixin */
.WSP-icon {
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  bottom: 100px;
  right: 50px;
}

/* --- MAIN --- */
/* ejemplo de nesting */
.main_index div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main_index div h1 {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  text-align: center;
  color: #74197c;
  width: 90%;
  padding-top: 9rem;
}
.main_index div .parrafo1 {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  padding-top: 6rem;
  padding-bottom: 8rem;
  width: 60%;
}

section {
  width: 100%;
  height: 100%;
}

.contactarnos {
  width: 8rem;
  height: 4rem;
  border-radius: 1rem;
  border: rgb(189, 205, 233);
}

.section2 {
  width: 100%;
  height: 100%;
}

.search-container {
  text-align: center;
  background-color: #670570;
}

/*  --- SECTION GALERIA DE SWETTERS ---  */
.Sweter1, .Sweter2, .Sweter3, .Sweter4, .Sweter5, .Sweter6 {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  padding-bottom: 2rem;
}

.Sweter1 {
  padding-top: 3rem;
}

img {
  width: 250px;
  height: 320px;
  padding: 1rem 0 1rem 0;
  border-radius: 3rem;
  transition: ease-in 0.5s;
}

img:hover {
  transform: scale(1.1);
}

button {
  margin: 1rem 0 1rem 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #670570;
  border-color: #fdfdfc;
  border-style: double;
}

.buscar {
  border-style: double;
  width: 20%;
  border-radius: 0.5rem;
}

.Comprar {
  box-shadow: inset 0 0 0 0 #670570;
  color: #670570;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 6rem;
  height: 4rem;
  border-radius: 1rem;
}

.Comprar:hover {
  box-shadow: inset 100px 0 0 0 #74197c;
  color: white;
}

p {
  font-weight: 400;
  font-size: larger;
  color: #670570;
}

.Sweter1 {
  grid-area: Sweter1;
}

.Sweter2 {
  grid-area: Sweter2;
}

.Sweter3 {
  grid-area: Sweter3;
}

.Sweter4 {
  grid-area: Sweter4;
}

section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 1rem;
  grid-template-areas: "Sweter1" "Sweter2" "Sweter3" "Sweter4";
  justify-content: center;
}

/* --- FOOTER --- */
footer {
  width: 100%;
  background: rgb(196, 200, 209);
  font-family: "Lato", sans-serif;
  position: absolute;
}

footer img {
  width: 20%;
  height: 70%;
}

.footerRedesContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.footerRedesContainer div {
  width: 30%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.Copyright {
  text-align: center;
  padding-bottom: 1rem;
  color: #670570;
}

@media screen and (min-width: 600px) {
  /* --- MAIN ----*/
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas: "Sweter1 Sweter2" "Sweter3 Sweter4" "Sweter5 Sweter5";
    justify-content: center;
  }
  .Sweter1,
.Sweter2 {
    padding-top: 4rem;
  }
  .Sweter3,
.Sweter4 {
    padding-top: 3rem;
  }
  .FondoContacto {
    background-image: none;
  }
  .tarjetas {
    max-width: 40%;
    max-height: 40%;
  }
  .WSP-float {
    position: fixed;
    width: 100px;
    height: 100px;
    line-height: 100px;
    bottom: 20rem;
    right: 5rem;
  }
  .formulariocontactos {
    width: 85%;
    height: 85%;
    text-align: center;
    margin: 1rem 0 1rem 0;
    margin-left: 7%;
    margin-top: 5%;
  }
  .DaleFiorita {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  /* --- MAIN --- */
  .Sweter1,
.Sweter2,
.Sweter3 {
    padding-top: 3rem;
    padding-bottom: 0;
  }
  .Sweter5,
.Sweter6 {
    padding: top 0;
  }
  .Sweter4 {
    padding-top: 0;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-template-areas: "Sweter1 Sweter2 Sweter3" "Sweter4 Sweter5 Sweter6";
  }
  .tarjetas {
    width: 8%;
    height: 8%;
  }
  .WSP-float {
    bottom: 20rem;
    right: 5rem;
  }
  .formulariocontactos {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: 1rem 0 1rem 0;
    margin-left: 25%;
  }
}/*# sourceMappingURL=style.css.map */